{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Second-Hand Store{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'store/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>

   <nav class="navbar">
    <a href="{% url 'home' %}" class="navbar-brand">ReMarket</a>

    <form action="{% url 'home' %}" method="GET" class="navbar-search">
        <input type="text" name="q" placeholder="Search for products..." value="{{ search_query|default:'' }}">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>

    <div class="nav-links">
        {% if user.is_authenticated %}
            <a href="{% url 'create_product' %}" class="nav-icon sell-icon" title="Sell Item">
                <i class="fa-solid fa-square-plus"></i>
            </a>

            <a href="{% url 'my_listings' %}" class="nav-icon" title="My Listings">
                <i class="fa-solid fa-list"></i>
            </a>

            <a href="{% url 'my_orders' %}" class="nav-icon" title="My Orders">
                <i class="fa-solid fa-box-archive"></i>
            </a>

            <a href="{% url 'view_cart' %}" class="nav-icon" title="My Cart">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>

            <a href="{% url 'my_account' %}" class="nav-icon" title="My Account">
                <i class="fa-solid fa-user"></i>
            </a>

           <a href="#" onclick="signOut()" class="nav-icon" title="Logout">
    <i class="fa-solid fa-right-from-bracket"></i>
</a>

        {% else %}
            <a href="{% url 'login' %}" class="nav-icon" title="Login">
                <i class="fa-solid fa-right-to-bracket"></i>
            </a>

            <a href="{% url 'register' %}" class="nav-icon" title="Register">
                <i class="fa-solid fa-user-plus"></i>
            </a>
        {% endif %}
    </div>
</nav>

    {% block content %}
    {% endblock %}
    <script src="{% static 'store/main.js' %}"></script>
    <script src="https://www.gstatic.com/firebasejs/9.6.10/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.6.10/firebase-auth-compat.js"></script>

    <script src="{% static 'store/firebase-init.js' %}"></script>
    <script src="{% static 'store/auth.js' %}"></script>

</body>
</html>